/* custom css goes here */
/*
//Filename : app.css
//@author Aayushi Shah
//@date Aug 04,2016
//StudentID : 300874124
//website : http://comp125-s2016-300874124-lab5.azurewebsites.net/
//@description : This file is the main css of this file.
*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 70px;
}


#canvas{
    border: 3px #4d2800 solid;
    border-radius: 5px;
    background-color:#ffb3b3;
}